@page
@model WebApplication1.Pages.CalculatorModel
@{
	ViewData["Title"] = "Calculator";
}
<h1>@ViewData["Title"]</h1>
<table>
	<tr>
		<td>
			<label> Here is the calculation with result! </label>
		</td>
	</tr>
	<tr>
		<td>
			<button onclick="onGet()">1</button>
			<button>2</button>
			<button>3</button>
		</td>
		<td>
			<button>DEL</button>
			<button>CLE</button>
		</td>
	</tr>
	<tr>
		<td>
			<button>4</button>
			<button>5</button>
			<button>6</button>
		</td>
		<td>
			<button>*</button>
			<button>/</button>
		</td>
	</tr>
	<tr>
		<td>
			<button>7</button>
			<button>8</button>
			<button>9</button>
		</td>
		<td>
			<button>+</button>
			<button>-</button>
		</td>
	</tr>
	<tr>
		<td>
			<button>(-)</button>
			<button>0</button>
			<button>,</button>
		</td>
		<td>
			<button>=</button>
		</td>
	</tr>
</table>

<p>This site is still under construction since @ViewData["Timestamp"]</p>
